@(employeeForm:Form[Employee])
@import helper._

<html>
    <head>

        <title>Edit Employee</title>
    </head>
    <body>
        <h1>Edit Employee</h1>
    @helper.form(action = routes.EmployeeController.update()){
        @helper.inputText(employeeForm("id"))
        @helper.inputText(employeeForm("name"))
        @helper.inputText(employeeForm("designation"))
        @helper.inputText(employeeForm("salary"))
        <input type="submit" value="UpdateEmployeeDetails">
    }

    </body>

</html>